/**
    Title Tags
*/

.arrow {
    transform: rotate(45deg);
    top: 74%;
    right: 20%;
}

.title-tag {
    position: absolute;
    border-width: 0 0 1px 1px;
    border-color: #000;
    transform: rotate(45deg);
}